{% extends "::base.html.twig" %}

{% block title %}Edit information about address{% endblock %}

{% block contact %}

    <div class ="well">{{form_start(formAddress)}}</div>
    <div class ="well">{{form_widget(formAddress)}}</div>
    <div class ="well">{{form_end(formAddress)}}</div>
{% endblock %}

